body {
  font-family: 'Helvetica',Roboto,Helvetica,Arial,'Lucida Grande',sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

header {
  background-image: url(./pictures/headbackground.jpeg);
  height: 100vh;
  background-size: cover;
  margin:0;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-border {
  width: 230px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 4px #FFF;
}

#header-container {
  background-color: #FFF;
  width: 220px;
  height: 180px;
  opacity:0.9;
}


#header-container > h3 {
  padding-top: 30px;
  text-align: center;
  font-size: 25px;
}

#header-container > p {
  text-align: center;
  font-size: 16px;
  color: gray;
}

main {
  max-width: 1366px;
  margin: auto;
}

#design {
  display: flex;
  justify-content: space-between;
}

#favicon > img {
  width: 50vw;
  max-width: 683px;
}

#design > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#design > div:nth-child(2) > p {
  width: 50%;
  font-size: 18px;
  line-height: 1.9rem;
}

#work {
  background-color: rgb(239,239,239);
  padding: 150px;
  display: flex;
  justify-content: space-between;
}

#work-summary {
  width: 33%;
  padding: 0 70px 0 0; 
  line-height: 1.9rem;
}

#work-summary > h2 {
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
}

#work-summary > hr {
  border-color: rgb(224,224,224);
  border-width: 3px;
  max-width: 20px;
  margin: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

#work-img {
  width: 67%;/*为何删掉此行则左侧div占父元素比例将失调*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;/*因为flex默认会把子元素纵向拉伸，只有这样才不会导致图片变形*/
}

#work-img > img {
  width:50%;
}

#services {
  padding: 100px;
  display: flex;
  justify-content: space-between;
}

#services-summary {
  width: 25%;
  padding: 0 70px 0 0; 
  line-height: 1.9rem;
}

#services-summary > h2 {
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
}

#services-summary > hr {
  border-color: rgb(224,224,224);
  border-width: 3px;
  max-width: 20px;
  margin: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

#services-list {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

#services-list > div {
  width: 33.3%;
  box-sizing: border-box;
  padding: 20px;
}

#services-list > div > .fa {
  font-size: 25px;
  color: #F05F40;
}

#services-list > div > p {
  line-height: 1.5rem;
}

#employement {
  padding: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
}

#employement-summary {
  width: 30%;
  padding: 0 70px 0 0; 
  line-height: 1.9rem;
}

#employement-summary > h2 {
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
}

#employement-summary > hr {
  border-color: rgb(224,224,224);
  border-width: 3px;
  max-width: 20px;
  margin: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

#employement-experience {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

#employement-experience > div {
  box-sizing: border-box;
  width: 50%;
  background-color: #FFF;
  border:15px solid #f6f6f6;
  border-radius: 25px;
}

#employement-experience > div > h3 {
  padding: 0 25px;
}

#employement-experience > div > p:nth-child(2) {
  padding: 0 25px;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

#employement-experience > div > p:nth-child(3) {
  width: 100px;
  margin: 0 25px;
  padding: 5px;
  text-align: center;
  border: 2px solid #f6f6f6;
  border-radius: 5px;
  font-family: "Fira Sans",sans-serif;
}

#employement-experience > div > hr {
  border: 0;
  height: 1px;
  margin: 16px 0;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  opacity: 0.15;
}

#employement-experience > div > p:nth-child(5) {
  padding: 0 25px;
  line-height: 1.6rem;
}

#skills {
  padding: 100px;
  display: flex;
  justify-content: space-between;
}

#skills-summary {
  width: 30%;
  padding: 0 70px 0 0; 
  line-height: 1.9rem;
}

#skills-summary > h2 {
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
}

#skills-summary > hr {
  border-color: rgb(224,224,224);
  border-width: 3px;
  max-width: 20px;
  margin: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

#skills-list {
  width: 70%;
}

#skills-list > div {
  padding:10px;
}

#skills-list > div > p {
  font-weight: 900;
  padding-left: 8px;
}

.count-bar {
  background-color: #f6f6f6;
  padding: 3px;
}

#count1 {
  background-color: #818181;
  width: 78%;
  height: 5px;
  position: relative;
}

#count2 {
  background-color: #818181;
  width: 91%;
  height: 5px;
  position: relative;
}

#count3 {
  background-color: #818181;
  width: 63%;
  height: 5px;
  position: relative;
}

#count4 {
  background-color: #818181;
  width: 75%;
  height: 5px;
  position: relative;
}

#count5 {
  background-color: #818181;
  width: 86%;
  height: 5px;
  position: relative;
}

.count-bar > div >span {
  background-color: #818181;
  position: absolute;
  line-height: 18px;
  top: -28px;
  right: -20px;
  width: 40px;
  height: 18px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.count-bar > div >span:after {
  border-top: 4px solid #818181;
  position: absolute;
  left: 50%;
  margin-left: -4px;
  top: 18px;
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

#education {
  padding: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
}

#education-summary {
  width: 30%;
  padding: 0 70px 0 0; 
  line-height: 1.9rem;
}

#education-summary > h2 {
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
}

#education-summary > hr {
  border-color: rgb(224,224,224);
  border-width: 3px;
  max-width: 20px;
  margin: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

#education-experience {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

#education-experience > div {
  box-sizing: border-box;
  width: 50%;
  background-color: #FFF;
  border:15px solid #f6f6f6;
  border-radius: 25px;
}

#education-experience > div > h3 {
  padding: 0 25px;
}

#education-experience > div > p:nth-child(2) {
  padding: 0 25px;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

#education-experience > div > p:nth-child(3) {
  width: 100px;
  margin: 0 25px;
  padding: 5px;
  text-align: center;
  border: 2px solid #f6f6f6;
  border-radius: 5px;
  font-family: "Fira Sans",sans-serif;
}

#education-experience > div > hr {
  border: 0;
  height: 1px;
  margin: 16px 0;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  opacity: 0.15;
}

#education-experience > div > p:nth-child(5) {
  padding: 0 25px;
  line-height: 1.6rem;
}

#testimonial {
  background: url(./pictures/testimonial-bg.jpg);
  height: 100vh;
  background-size: cover;
}

.container {
  width: 1280px;
  margin: auto;
}

.evaluate {
  padding-top: 20%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  color: #FFF;
  line-height: 2.5rem;
  margin: 0;
}

.evaluate > span {
  display: block;
  padding-top: 25px;
  font-size: 20px;
  color: #B7B7B7;
}

.slidesjs-slide {
  width: 960px !important;
  margin-left: 160px;
}

#slides {
  position: relative;
}

.slidesjs-pagination {
  position: absolute;
  bottom: 250px; 
  left: 47%;
  margin: 6px 0 0;
  list-style: disc;
  font-size: 30px;
  color: white;
}

.slidesjs-pagination-item {
  float: left;
}

.slidesjs-pagination-item > a {
  opacity:0;
}

#contact {
  padding: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
}

#contact-summary {
  width: 30%;
  padding: 0 70px 0 0; 
  line-height: 1.9rem;
}

#contact-summary > h2 {
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
}

#contact-summary > hr {
  border-color: rgb(224,224,224);
  border-width: 3px;
  max-width: 20px;
  margin: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

#contact-info {
  width: 70%;
}

#contact-info > div {
  padding:20px;
}

#contact-info > div > p {
  padding-left: 5px;
  font-size: 1.17em;
  font-weight: 800;
}
#contact-info > div > hr {
  border-color: rgb(224,224,224);
  border-width: 3px;
  margin: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

footer {
  background: #2f2f2f;
}

footer > img {
  display: block;
  margin: auto;
  padding: 60px 0 30px 0;
}

footer > p {
  font-size: 20px;
  color: #FFF;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}



